<router-outlet></router-outlet>
<header>
  <div class="row m-0">
    <div class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="head">
        <button class="user"><p class="p-user">ورود / ثبت نام</p></button>
        <div class="p-head">
          <p class="p1"> پرسش پاسخ</p>
          <p class="n1"></p>
          <p class="p1"> مام مگ </p>
          <p class="n1"></p>
          <p class="p1"> پزشکان مام</p>
          <p class="n1"></p>
          <p class="p1">خانه </p>
        </div>
        <div>
          <img class="mom-pic" src="assets/Mom.svg">
        </div>
      </div>
    </div>
  </div>
</header>
<body>
<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
  <div class="welcome">
    <div class="kid-img">
      <img src="assets/Baby%20birth-rafiki%201.png">
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="main-wel">
        <div class="p-wel">
          <p class="p-well">!!! به مام خوش آمدید</p>
        </div>
        <div class="finger">
          <img src="assets/tap%201.svg">
        </div>
      </div>
      <div class="p-matn">
        <p class="p2">مرکز درمان، درمان ناباروری و مرکز تحقیقات و نوآوری مــــــــام </p>
      </div>
      <br>
      <p class="p3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
      <br>
      <div class="a">
        <div class="p4">
          <p>< مشاهده پزشکان مام</p>
        </div>
        <div class="button">
          <button class="dokmeh"><p class="p5"> نوبت دهی و مشاوره آنلاین </p></button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-12">
  <div class="mtn1">
    <p class="p6">پرسش پاسخ</p>
    <p class="p7">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
      متون بلکه
      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
      ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می
      طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
      ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
      وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
      قرار گیرد.

    </p>
    <button class="b1"><p class="p8">پرسش از پزشکان مام</p></button>
    <p class="p9">محبوب ترین سوالات</p>
  </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-12">
  <div class="mtn2">
    <p class="p10">نوبت دهی و مشاوره آنلاین با مام</p>
    <p class="p11">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
      و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
      با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و
      متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو
      در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ
      به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
      مورد استفاده قرار گیرد.</p>
    <button class="b1"><p class="p8">نوبت دهی و مشاوره</p></button>
    <div class="m1">
      <p class="p12">برترین و محبوب ترین پزشکان مام</p>
      <p class="p13">بیماران اغلب به این پزشکان مراجعه می کنند</p>
    </div>
  </div>
</div>
<div class="last">
  <p class="p14">آخرین مطالب در مام مگ</p>
  <button class="b2"><p class="p15">مام مگ</p></button>
</div>
</body>
<br>
<br>
<hr>
<footer>
  <div class="foot-main1">
    <div>
      <p class="p16">ما را در شبکه‌های اجتماعی دنبال کنید</p>
      <div class="application">
        <img src="assets/Twitter%20social%20icons%20-%20circle%20-%20blue%202.svg">
        <img src="assets/Instagram_Glyph_Black%201.svg">
        <img src="assets/Logo%202.svg">
      </div>
    </div>
    <div class="menu1">
      <div>
        <p class="p16">راهنمای دریافت مشاوره و نوبت از مام</p>
        <p class="p17">راهنمای ثبت پرسش در مام</p>
        <p class="p17">راهنمای دریافت نوبت در مام</p>
      </div>
      <div>
        <p class="p16">خدمات مشتریان</p>
        <p class="p18">سوالات متداول</p>
        <p class="p18">شرایط استفاده</p>
        <p class="p18">حریم خصوصی</p>
      </div>
      <div>
        <p class="p16">با مام</p>
        <p class="p19">تماس با ما</p>
        <p class="p19">درباره ما</p>
      </div>
    </div>
  </div>
  <div class="kadr">
    <div class="store">
      <img class="img10" src="assets/myket.svg">
      <img class="img11" src="assets/bazar.svg">
      <img class="img11" src="assets/googleplay.svg">
    </div>
    <div class="mom-qpp">
      <p class="p20">دانلود اپلیکیشن مام</p>
      <img class="app" src="assets/Group%20324.svg">
    </div>
  </div>
  <div class="end">
    <div class="end-pic">
      <img src="assets/Rectangle2.svg">
      <img src="assets/Rectangle1.svg">
    </div>
    <div>
      <p class="p21">مرکز درمان ناباروری مام</p>
      <p class="p22">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
        چاپگرها و متون
        بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
        هدف بهبود ابزارهای کاربردی می باشد.</p>
    </div>
  </div>
  <img class="made" src="assets/madeWithLoveInIran.svg">
  <p class="the-end">برای استفاده از مطالب مام، داشتن «هدف غیرتجاری» و ذکر «منبع» کافیست. تمام حقوق اين وب‌سايت نیز برای
    شرکت مام است.</p>
</footer>






